In [32]:
#import all necessary -and maybe unnecessary too but we're not trying to risk it- libraries

import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import pandas as pd
import datetime
import statistics
from scipy.optimize import curve_fit
import matplotlib.pyplot as plt
from collections import Counter
plt.rcParams.update({'font.size': 22})
import sys

In [33]:
#We start loading and previewing our .txt data 

#set name will be added later, right now I'm working on a test file only

path = '../../data/'
file = 'dets_MAD20.txt'
fn = path + file
catalog = pd.read_csv(fn, delim_whitespace=True, names=['No', 'date', 'time', 'latitud', 'longitud', 'prof', 'mag', 'cc', 'mad', 'id'])

catalog.head()

,No,date,time,latitud,longitud,prof,mag,cc,mad,id
0,1,2017/11/21,00:18:49.080,16.83,-101.58,16.1,1.27,0.5018,32.94,2.017112e+13
1,9,2017/11/21,07:17:13.380,16.26,-100.91,20.3,2.42,0.3794,29.45,2.017122e+13
2,12,2017/11/21,07:53:16.480,16.26,-100.91,16.3,1.89,0.3900,30.28,2.017122e+13
3,13,2017/11/21,10:09:12.320,16.30,-100.77,10.0,1.42,0.3533,25.32,2.017113e+13
4,14,2017/11/21,10:15:05.300,16.26,-100.91,20.3,1.34,0.2710,21.03,2.017122e+13

In [34]:
catalog[['dia', 'mes', 'anio']] = catalog['date'].str.split('/', expand=True)
catalog[['hora', 'min', 'sec']] = catalog['time'].str.split(':', expand=True)
catalog

,No,date,time,latitud,longitud,prof,mag,cc,mad,id,dia,mes,anio,hora,min,sec
0,1,2017/11/21,00:18:49.080,16.83,-101.58,16.1,1.27,0.5018,32.94,2.017112e+13,2017,11,21,00,18,49.080
1,9,2017/11/21,07:17:13.380,16.26,-100.91,20.3,2.42,0.3794,29.45,2.017122e+13,2017,11,21,07,17,13.380
2,12,2017/11/21,07:53:16.480,16.26,-100.91,16.3,1.89,0.3900,30.28,2.017122e+13,2017,11,21,07,53,16.480
3,13,2017/11/21,10:09:12.320,16.30,-100.77,10.0,1.42,0.3533,25.32,2.017113e+13,2017,11,21,10,09,12.320
4,14,2017/11/21,10:15:05.300,16.26,-100.91,20.3,1.34,0.2710,21.03,2.017122e+13,2017,11,21,10,15,05.300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3068,26,2018/11/14,14:47:33.580,17.24,-101.07,36.2,2.09,0.2725,20.65,2.017121e+13,2018,11,14,14,47,33.580
3069,27,2018/11/14,17:35:39.040,16.99,-100.53,4.8,2.32,0.5489,41.48,2.018103e+13,2018,11,14,17,35,39.040
3070,32,2018/11/14,20:24:40.620,17.32,-101.32,9.0,2.38,0.3145,25.59,2.018111e+13,2018,11,14,20,24,40.620
3071,34,2018/11/14,20:58:31.660,17.14,-100.99,31.0,1.48,0.2650,21.01,2.018111e+13,2018,11,14,20,58,31.660
3072,35,2018/11/14,21:56:20.700,17.26,-101.02,1.0,2.00,0.2711,20.86,2.017120e+13,2018,11,14,21,56,20.700

In [37]:
neworder = ['dia', 'mes', 'anio', 'hora', 'min', 'sec', 'latitud', 'longitud', 'prof', 'mag']
catalog = catalog.reindex(columns = neworder)
catalog

       dia mes anio hora min     sec  latitud  longitud  prof   mag
0     2017  11   21   00  18  49.080    16.83   -101.58  16.1  1.27
1     2017  11   21   07  17  13.380    16.26   -100.91  20.3  2.42
2     2017  11   21   07  53  16.480    16.26   -100.91  16.3  1.89
3     2017  11   21   10  09  12.320    16.30   -100.77  10.0  1.42
4     2017  11   21   10  15  05.300    16.26   -100.91  20.3  1.34
...    ...  ..  ...  ...  ..     ...      ...       ...   ...   ...
3068  2018  11   14   14  47  33.580    17.24   -101.07  36.2  2.09
3069  2018  11   14   17  35  39.040    16.99   -100.53   4.8  2.32
3070  2018  11   14   20  24  40.620    17.32   -101.32   9.0  2.38
3071  2018  11   14   20  58  31.660    17.14   -100.99  31.0  1.48
3072  2018  11   14   21  56  20.700    17.26   -101.02   1.0  2.00

[3073 rows x 10 columns]

In [38]:
#save to csv


catalog.to_csv('../../data/alldets_p12.txt', index='False', sep=" ")