In [3]:
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt
import pandas as pd
import datetime
from scipy.optimize import curve_fit
import matplotlib.pyplot as plt
from collections import Counter
plt.rcParams.update({'font.size': 22})
import sys

In [11]:
dets = pd.read_csv('detsmad20.dat', delim_whitespace=True, names=['lon', 'lat', 'yr', 'mnth', 'day', 'mag', 'dpth', 'hr', 'min'])

dets.head()

      lon    lat    yr  mnth  day   mag  dpth  hr  min
0 -101.58  16.83  2017    11   21  1.27  16.1   0   18
1 -100.91  16.26  2017    11   21  2.42  20.3   7   17
2 -100.91  16.26  2017    11   21  1.89  16.3   7   53
3 -100.77  16.30  2017    11   21  1.42  10.0  10    9
4 -100.91  16.26  2017    11   21  1.34  20.3  10   15

In [14]:
dets['yr'] = '2017'
dets['mnth'] = '11'
dets['day'] = '21'
dets.tail()

         lon    lat    yr mnth day   mag  dpth  hr  min
3068 -101.07  17.24  2017   11  21  2.09  36.2  14   47
3069 -100.53  16.99  2017   11  21  2.32   4.8  17   35
3070 -101.32  17.32  2017   11  21  2.38   9.0  20   24
3071 -100.99  17.14  2017   11  21  1.48  31.0  20   58
3072 -101.02  17.26  2017   11  21  2.00   1.0  21   56

In [23]:
dets.to_csv('./detsbyhour.dat', index=False, header=None, sep=" ")